<configuration>

    <!-- 운영환경에서 Access 로그만 따로 기록 -->
    <springProfile name="prod">
        <property name="ACCESS_FILE" value="/data/logs/infra-subway/subway-access.log"/>
        <include resource="logback-access-appender.xml"/>
        <appender-ref ref="ACCESS" />
    </springProfile>

    <!-- 운영환경 이외 console 에 출력 -->
    <springProfile name="!prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%fullRequest%n%n%fullResponse</pattern>
            </encoder>
        </appender>
        <appender-ref ref="STDOUT" />
    </springProfile>

</configuration>