<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="file-appender.xml"/>
    <include resource="console-appender.xml"/>

    <springProfile name="local, test">
        <logger name="console" level="TRACE" >
            <appender-ref ref="console" />
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="file" level="INFO" >
            <appender-ref ref="file" />
        </logger>
        <logger name="console" level="ERROR" >
            <appender-ref ref="console" />
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>
